@mixin theme {
  --background: 255 8% 9%;
  --foreground: 0 0% 98%;
  --card: 255 8% 10.5%;
  --card-foreground: 0 0% 98%;
  --popover: 258 10% 9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 25%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 20%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 43 20% 90%;

  --success: 142 35% 45%;
  --success-foreground: 43 20% 90%;

  --warning: 43 50% 45%;
  --warning-foreground: 0 0% 90%;

  --info: 210 25% 50%;
  --info-foreground: 43 20% 90%;

  --border: 255 6% 18%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 60%;
  --radius: 0.5rem;

  --chart-1: 12 35% 40%;
  --chart-2: 173 25% 30%;
  --chart-3: 197 15% 18%;
  --chart-4: 43 40% 40%;
  --chart-5: 27 45% 40%;
  --chart-6: 230 25% 40%;
  --chart-7: 291 25% 40%;
  --chart-8: 150 30% 30%;
  --chart-9: 52 45% 45%;
  --chart-10: 324 35% 30%;

  --chart-text-color: 43 10% 75%;
  --chart-crosshair-color: 262 45% 50%;
  --chart-tooltip-background: 0 0% 12%;
  --chart-tooltip-text-color: 43 20% 90%;

  --sidebar-background: 255 8% 10.5%;
  --sidebar-foreground: 0 0% 98%;
}
