$transition-duration: 0.3s;
$transition-timing: ease;

:export {
  transition-duration: $transition-duration;
  transitionTiming: $transition-timing;
}
:root {
  --account-base-EUR: #0077cc; // Default Blue
  --account-base-USD: #4caf50; // Default Green
  --account-base-UAH: #ffc107; // Default Amber
  --account-base-HUF: #e53935; // Default Red
  --account-base-BTC: #ff9800; // Default Orange
}
